Repository munich-quantum-toolkit/workflows, pull requests merged in 2024-12, with the labels that each got.

#53 🩹 do not enable `uv` cache when it will not be used
  .github/workflows/reusable-python-packaging.yml
Labels: continuous integration, fix, python

#54 🚸 do not fail fast on macOS C++ tests
  .github/workflows/reusable-cpp-tests-macos.yml
Labels: c++, continuous integration, github_actions, usability

#52 🚸 Alternative workflow for running Python tests individually
  .github/workflows/reusable-python-ci.yml
  .github/workflows/reusable-python-tests-individual.yml
Labels: continuous integration, python, usability
