Repository munich-quantum-toolkit/workflows, pull requests merged in 2024-08, with the labels that each got.

#19 ✨ allow skipping testing on latest Python
  .github/workflows/reusable-python-ci.yml
Labels: continuous integration, enhancement, python

#20 🩹 fix path to `semver` in MQT Core update workflow
  .github/workflows/reusable-mqt-core-update.yml
Labels: continuous integration, fix, github_actions

#21 🩹 fix semver check
  .github/workflows/reusable-mqt-core-update.yml
Labels: continuous integration, dependencies, fix, github_actions

#22 ♻️ combine builds for emulated wheels
  .github/workflows/reusable-python-packaging.yml
Labels: continuous integration, enhancement, github_actions, minor, python

#23 ✨ moving minor tags for workflows
  .github/workflows/update-major-minor-tag.yml
Labels: continuous integration, github_actions, minor, usability

#24 📝 add note in MQT Core Update PR description
  .github/workflows/reusable-mqt-core-update.yml
Labels: continuous integration, documentation, github_actions

#25 🩹 fix emulation wheel build precondition
  .github/workflows/reusable-python-packaging.yml
Labels: continuous integration, fix, github_actions

#26 fix: :bug: Fix incorrect usage of semver tool
  .github/workflows/reusable-mqt-core-update.yml
Labels: continuous integration, fix, github_actions
